.block--head
  display: flex
  flex-direction: column
  gap: var(--g-heading)
  align-content: center
  &_subtitle
    //grid-area: subtitle
    font-size: var(--subheading)
    color: var(--accent-light)

  &_title
    //grid-area: title
    font-size: var(--heading-1)
    text-transform: uppercase
    letter-spacing: 0.03em
    .-accent
      color: var(--accent)
  &_caption
    //grid-area: caption
    font-size: 20px
    font-weight: 500
    line-height: 1.6
    color: var(--text-primary-subhead)

  .block--actions
    //grid-area: actions
    margin-top: 0

  &_subtitle,
  &_title,
  &_caption,
  .block--actions
    &:empty
      display: none

.block_list,
.content_calculator
  .block--head
    @media(min-width: 1024px)
      display: grid
      grid-template-columns: 1.3fr 1fr
      grid-template-rows: auto 1fr auto
      &_subtitle,
      &_title
        grid-column: 1
      &_caption,
      .block--actions
        grid-column: 2
      &_caption
        display: flex
        align-content: flex-end
        margin-top: auto
      &_title
        grid-row:  2 / span 2
      &_subtitle
        grid-column: span 2
