.swiper-slide,
.card,
.gallery--item,
.banner-group .banner
  -webkit-transform: translate3d(0, 0, 0)
  -webkit-backface-visibility: hidden

.swiper-wrapper
  -webkit-transform-style: preserve-3d

.swiper--prev.swiper-button-lock, .swiper--next.swiper-button-lock,
.swiper-pagination-lock
  display: none

.swiper-notification
  display: none

.slider_controls
  position: absolute
  bottom: var(--g-m)
  right: var(--g-l)
  left: var(--g-l)
  z-index: 3
  display: flex
  justify-content: space-between
  align-items: center
  pointer-events: none
  gap: 16px
.block_list,
.content_gallery
  .slider_controls
    @media(max-width: 768px)
      display: none

.swiper--prev, .swiper--next
  cursor: pointer
  display: flex
  justify-content: center
  align-items: center
  pointer-events: all
  transition: var(--transition)
  width: var(--container)
  height: var(--container)
  aspect-ratio: 1/1
  min-width: 36px
  min-height: 36px
  --bck-btn-arrow: #FCFCFC
  font-size: 1.2em
  @media(min-width: 1240px)
    width: 56px
    height: 56px
    font-size: 36px
  &:not(.button-dark)
    span
      background: linear-gradient(180deg, #3094D2 39.91%, #003662 100%)
      -webkit-background-clip: text
      background-clip: text
      -webkit-text-fill-color: transparent
      color: transparent
    &:after
      box-shadow: 0px 0px 6px 0px rgba(5, 10, 15, 0.17), 0px 1px 3px 0px rgba(0, 0, 0, 0.06), 0px 3px 2px 0px #FFFFFF inset

    &:before
      background-color: var(--bg-color)
  &.swiper-button-disabled
    pointer-events: none
    opacity: 0

.swiper-pagination
  color: var(--bg-default)
  display: flex
  align-items: baseline
  z-index: 10
  margin-right: auto
  gap: 8px
  &-bullet
    width: 18px
    height: 18px
    position: relative
    --br-btn-arrow: 50px
    --btn-rotate: -45deg
    aspect-ratio: 1/1

    &:after,
    &:before
      content: ''
      position: absolute
      transition: 400ms ease-in
    &:after
      inset: 4px
      rotate: 45deg
      background-color: #FFFFFF
      border-radius: 2px
      opacity: 0
    &:before
      content: ''
      position: absolute
      inset: 0
      rotate: var(--btn-rotate)
      //z-index: -1
      border-radius: var(--br-btn-arrow)
      transition: 400ms ease-in
      background-color: rgba(255, 255, 255, 0.2)

  .swiper-pagination-bullet-active
    --br-btn-arrow: 4px
    --bck-btn-arrow: rgba(255, 255, 255, 0.2)
    &:before
      rotate: 135deg
      scale: 1.1
    &:after
      opacity: 1

.block_list-slider,
.content_gallery .js-gallerySwiper,
.content_room,
.block_banner:not(.block_banner-hero)
  position: relative
  .block--elements
    display: flex
    flex-direction: column
    position: relative
  & .slider_controls
    translate: -50% -50%
    left: 50%
    top: 50%
    width: calc(100% + var(--container))
    z-index: 2
    @media(min-width: 1240px)
      width: calc(100% + 56px)

.block_banner:not(.block_banner-hero),
.block_list-slider,
.content_gallery .js-gallerySwiper
  .swiper-pagination
    display: none

.block_banner
  .slider_controls
    translate: -50% -50%
    left: 50%
    top: 50%
    width: calc(100% - var(--container))
.block_image_text
  .swiper--prev, .swiper--next
    width: 44px
    height: 44px
    font-size: 24px

.block_list.block_list-slider
  .card
    transition: 0.18s opacity ease-out
    height: auto
    &.hide
      opacity: 0
.block_banner.block_banner-group:not(.block_banner-hero)
  .banner
    transition: 0.18s opacity ease-out
    height: auto
    &.hide
      opacity: 0
