/* Buttons */
.button
  position: relative
  display: flex
  align-items: center
  justify-content: center
  width: fit-content
  gap: 6px
  flex-shrink: 0
  cursor: pointer
  z-index: 1
  overflow: hidden
  transition: var(--transition)
  padding: var(--button-padding)
  font-size: var(--button-fs)
  background: var(--button-bg-color, transparent)
  border: 1px solid var(--button-border-color, transparent)
  color: var(--button-color)
  span
    //transition: var(--transition)
    color: inherit
  span:not([class])
    white-space: nowrap
    text-align: center
    line-height: 1

  span[class^="icon-"],
  span[class*=" icon-"],
  svg[class^="icon"],
  svg
    color: inherit
    line-height: 1
    width: 1.2em
    height: 1.2em
    font-size: 1em
    display: flex
    align-items: center
    justify-content: center
  &[disabled],
  &.is_disabled
    cursor: initial
    pointer-events: none
    span
      opacity: 0.6

.button-filled, .button-outlined
  border-radius: var(--border-corner)
  position: relative
  overflow: hidden

/* Button  colors  */

.button-primary
  &.button-filled
    --button-bg-color: var(--accent)
    --button-border-color: var(--accent)
    --button-color: var(--text-secondary)
    &:hover,
    &:focus,
    &:active
      opacity: 0.7
    &.button-dark
      --button-bg-color: #fff
      --button-border-color: #fff
      --button-color: var(--accent)
      &:hover,
      &:focus,
      &:active
        opacity: 0.7
  &.button-outlined
    --button-bg-color: transparent
    --button-border-color: rgba(168, 177, 185, 0.5)
    --button-color: rgba(18, 26, 34, 0.85)
    &:hover,
    &:focus,
    &:active
      --button-bg-color: var(--accent)
      --button-border-color: var(--accent)
      --button-color: var(--text-secondary)
    &.button-dark
      --button-color: #fff
  &.button-link
    --button-color: var(--text-primary)
    &:hover,
    &:focus,
    &:active
      --button-color: var(--accent)
    &.button-dark
      --button-color: var(--text-secondary)
      &:hover,
      &:focus,
      &:active
        --button-color: var(--accent)

.button-secondary
  &.button-filled
    --button-bg-color: #004E9D
    --button-border-color: #004E9D
    --button-color: var(--text-secondary)
    &:hover,
    &:focus,
    &:active
      opacity: 0.7
    &.button-dark
      --button-bg-color: #D9ECFF
      --button-border-color: #D9ECFF
      --button-color: var(--accent)
      &:hover,
      &:focus,
      &:active
        opacity: 0.7
  &.button-outlined
    --button-bg-color: transparent
    --button-border-color: var(--accent)
    --button-color: var(--accent)
    &:hover,
    &:focus,
    &:active
      opacity: 0.7

  &.button-link
    --button-color: var(--text-primary)
    &:hover,
    &:focus,
    &:active
      --button-color: var(--accent)
    &.button-dark
      --button-color: var(--text-secondary)
      &:hover,
      &:focus,
      &:active
        --button-color: var(--accent)

