.block--selection
  display: flex
  align-items: center
  flex-grow: 1
  position: relative
  padding: 24px 16px
  margin: 0 -16px 0
  color: currentColor
  overflow: auto
  gap: 8px
  &:empty
    display: none
  a
    white-space: nowrap
    font-size: clamp(14px, calc(14px + (12 - 14) * ((100vw - 768px) / (1440 - 768))), 12px)
    padding: 8px 16px
    border-radius: var(--border-corner)
    border: 1px solid  var(--button-border-color)
    background: var(--button-bg-color)
    color: var(--button-color)
    --button-bg-color: transparent
    --button-border-color: rgba(168, 177, 185, 0.5)
    --button-color: var(--text-primary)
    @media(min-width: 1024px)
      padding: 12px 22px
    &:hover
      --button-bg-color: transparent
      --button-border-color: var(--accent)
      --button-color: var(--accent)
    &.is_active
      --button-bg-color: var(--accent)
      --button-border-color: var(--accent)
      --button-color: var(--text-secondary)



