.card
  flex-shrink: 0
  flex-grow: 0
  display: flex
  flex-direction: column
  position: relative
  width: 100%
  height: 100%
  transition: none
  gap: 8px
  border-radius: var(--border-corner)
  overflow: hidden
  color: var(--c-text-default)
  --_nb-curve-pos: var(--_nb-curve-pos-tr)
  --_nb-mask-position: var(--_nb-mask-position-tr)
  &--content
    position: static
    display: flex
    flex-direction: column
    gap: 8px
    z-index: 2

  &--title
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical
    transition: var(--transition)
  &--text
    line-height: 1.5
    @media(min-width: 769px)
      line-height: 1.6
  &--action
    display: flex
    align-items: center
    gap: 8px
    transition: var(--transition)
    margin-top: var(--g-16)
    .icon
      font-family: 'icomoon'
      font-size: 16px
      @media(min-width: 1024px)
        font-size: 20px
    &:has(.button-link)
      gap: var(--g-s)

  &--image
    display: flex
    align-items: flex-start

    background-position: center
    background-size: cover
    width: 100%
    height: auto
    position: relative
    overflow: hidden
    aspect-ratio: 595/540

    img, video
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center
  &:has(.icon-eyes-closed-line)
    &:hover
      .icon-eyes-closed-line:before
        content: '\e91b'
  //&:not([data-openpopup]),
  //&:not([href]),
  //&:not([data-popup_cascade])
  //
  //  .card--image
  //    mask-image: none
[href],
[data-popup_cascade],
[data-openpopup]
  cursor: pointer

.content_card,
.content_personnel,
.content_resorts,
.content_blog,
.content_services,
.content_directions
  [href],
  [data-popup_cascade],
  [data-openpopup]
    .card--image
      mask-image: var(--_nb-mask-image)
      mask-size: var(--_nb-mask-size)
      mask-position: var(--_nb-mask-position)
      mask-repeat: no-repeat
      --_nb-curve-pos: var(--_nb-curve-pos-tr)
      --_nb-mask-position: var(--_nb-mask-position-tr)
      border-radius: var(--nb-r)

.content_vacancies,
.content_article,
.content_steps
  [href],
  [data-popup_cascade],
  [data-openpopup]
    .card--content
      mask-image: var(--_nb-mask-image)
      mask-size: var(--_nb-mask-size)
      mask-position: var(--_nb-mask-position)
      mask-repeat: no-repeat
      --_nb-curve-pos: var(--_nb-curve-pos-tr)
      --_nb-mask-position: var(--_nb-mask-position-tr)
      border-radius: var(--nb-r)

.content_card,
.content_personnel,
.content_resorts,
.content_services,
.content_directions,
.content_vacancies,
.content_article,
.content_blog,
.content_steps
  .card
    --nb-r: 8px
    --nb-w: clamp(28px, calc(40px + (28 - 40) * ((100vw - 768px) / (1440 - 768))), 40px)
    --nb-h: clamp(28px, calc(40px + (28 - 40) * ((100vw - 768px) / (1440 - 768))), 40px)
    --nb-cor1-rw: 8px
    --nb-cor1-rh: 8px
    --nb-cor2-rw: 8px
    --nb-cor2-rh: 8px
    --nb-curve-rw: 16px
    --nb-curve-rh: 16px
    &--action
      position: absolute
      top: 0
      right: 0
      margin-top: 0
      z-index: 3
      .button
        padding: 0
        aspect-ratio: 1/1
        width: clamp(46px, calc(54px + (46 - 54) * ((100vw - 768px) / (1440 - 768))), 54px)
    &:hover
      .button
        --button-bg-color: var(--accent)
        --button-border-color: var(--accent)
        --button-color: var(--text-secondary)

.content_card,
.content_personnel,
.content_partners,
.content_article,
.content_directions,
.content_media
  [href],
  [data-popup_cascade],
  [data-openpopup]
    &:hover
      .card--title
        color: var(--accent)

.content_card,
.content_personnel
  .card
    gap: 24px
    &--image
      aspect-ratio: 300/420
    &--title
      font-size: var(--title-s)
      font-weight: 600
    &--text
      font-size: var(--text-m)

.content_resorts
  .card
    aspect-ratio: 416/631
    color: #FFFFFF
    &--image
      position: absolute
      inset: 0
      aspect-ratio: initial
      &:after
        content: ""
        position: absolute
        inset: 0
        background: linear-gradient(180deg, rgba(18, 26, 34, 0) 58.16%, rgba(18, 26, 34, 0.6) 84.8%), linear-gradient(180deg, rgba(18, 26, 34, 0.55) 0%, rgba(18, 26, 34, 0) 29.4%)
    &--content
      backdrop-filter: blur(45px)
      border-radius: var(--border-corner)
      margin: auto 14px 14px
      padding: 16px 18px
      justify-content: flex-end
      transition: var(--transition)
      background: linear-gradient(105.77deg, rgba(255, 255, 255, 0.4) 17.3%, rgba(255, 255, 255, 0.152) 100%)
      @media(min-width: 769px)
        padding: 24px 18px
    &--title
      font-family: 'Forum'
      font-size: 30px
    &--subtitle
      font-weight: 400
      font-size: clamp(20px, calc(20px + (18 - 20) * ((100vw - 768px) / (1440 - 768))), 18px)
    &--text
      font-size: var(--subtitle-xs)
      font-weight: 400
    .labels
      position: absolute
      top: 14px
      left: 14px
      &--item
        border: 1px solid #fff
        color: #FFFFFF
        text-transform: uppercase
        span[class^="icon-"]
          font-size: 1.4em
    &:hover
      .card--content
        background-color: #FFFFFF
        color: var(--text-primary)
        .card--text
          color: rgba(18, 26, 34, 0.6)
.content_services
  .card
    color: #FFFFFF
    height: 420px
    &--image
      position: absolute
      inset: 0
      height: 100%
    &--content
      backdrop-filter: blur(45px)
      border-radius: var(--border-corner)
      margin: auto 14px 14px
      padding: 16px 18px
      justify-content: flex-end
      background: linear-gradient(105.77deg, rgba(255, 255, 255, 0.4) 17.3%, rgba(255, 255, 255, 0.152) 100%)
      transition: var(--transition)
      @media(min-width: 769px)
        padding: 24px 18px
    &--title
      font-size: 20px
    &--text
      font-size: 16px

    &:hover
      .card--content
        background-color: #FFFFFF
        color: var(--text-primary)

.content_article,
.content_media
  .card

    &--content
      position: initial

      & > span
        color: #A0A8B1
        font-size: clamp(14px, calc(16px + (14 - 16) * ((100vw - 768px) / (1440 - 768))), 16px)
        margin-top: 16px
    &--title
      font-size: 20px
    &--text
      color: var(--text-primary-subhead)
      font-size: 16px
    .labels
      &--item
        background: linear-gradient(94.81deg, rgba(174, 181, 190, 0.4) 1.94%, rgba(201, 210, 217, 0.24) 97.77%)
        font-size: var(--subtitle-xxs)
        text-transform: uppercase
    &:hover
      .card--content
        background-color: var(--bg-content)
      .labels--item
        background: linear-gradient(93.47deg, rgba(221, 236, 250, 0.5) 0%, rgba(191, 222, 250, 0.5) 113.14%)
        color: var(--accent)
.content_article
  .card
    &--content
      padding: 90px 24px 20px
    .labels
      position: absolute
      top: 20px
      left: 20px
.content_media
  .card
    &--content
      padding: 20px 24px
      gap: 24px
  .labels
    &--item
      background: linear-gradient(93.47deg, rgba(221, 236, 250, 0.5) 0%, rgba(191, 222, 250, 0.5) 113.14%)
      color: var(--accent)
      gap: 4px
      &:before
        content: 'Источник: '
        color: rgba(18, 26, 34, 0.6)

.content_blog
  .card
    &--image
      aspect-ratio: 416/180
    &--title
      font-weight: 600
      font-size: clamp(18px, calc(20px + (18 - 20) * ((100vw - 768px) / (1440 - 768))), 20px)
    &--text
      font-size: 16px
      line-height: 1.6
      color: var(--text-primary-subhead)
    &--content
      & > span
        color: #A0A8B1
        font-size: clamp(14px, calc(16px + (14 - 16) * ((100vw - 768px) / (1440 - 768))), 16px)
        margin-top: 16px

.content_vacancies
  .card

    &--content
      transition: var(--transition)
      padding: clamp(16px, calc(16px + (28 - 16) * ((100vw - 992px) / (1440 - 992))), 28px) var(--g-s)
      gap: clamp(12px, calc(12px + (16 - 12) * ((100vw - 992px) / (1440 - 992))), 16px)
    &--title
      font-size: 24px
    &--text
      font-size: 16px
    .labels
      &--item
        background: linear-gradient(94.81deg, rgba(174, 181, 190, 0.4) 1.94%, rgba(201, 210, 217, 0.24) 97.77%)
        color: rgba(18, 26, 34, 0.6)
        font-size: var(--subtitle-xxs)
        text-transform: uppercase
    &--list
      display: flex
      gap: 4px
      font-size: var(--subtitle-xs)
      flex-wrap: wrap
      p
        display: flex
        color: #A0A8B1
        &:not(:last-child):after
          content: "\e910"
          display: flex
          align-items: center
          font-family: 'icomoon' !important
    &:hover
      .card--content
        background-color: var(--bg-content)
      .labels--item
        background: linear-gradient(93.47deg, rgba(221, 236, 250, 0.5) 0%, rgba(191, 222, 250, 0.5) 113.14%)
        color: var(--accent)
.content_advantages
  .card
    min-height: 220px
    padding: 30px 24px
    background: linear-gradient(117.25deg, rgba(255, 255, 255, 0.5) -16.87%, #FFFFFF 97.07%)
    &--content
      height: 100%
    &--title
      font-size: 22px
      font-weight: 500
      margin-top: auto
    &--text
      font-size: 16px
    &--icon
      display: flex
      align-items: center
      justify-content: center
      font-size: 30px
      order: -1
      margin-bottom: 28px
      aspect-ratio: 1/1
      border-radius: 50%
      background-color: var(--accent)
      color: #FFFFFF
      max-width: 50px

  &.advantages_with_banner
    .card:last-child
      background-color: #FFFFFF
      flex-direction: column-reverse
      gap: 24px
      @media(min-width: 1240px)
        grid-column: span 2
        flex-direction: row-reverse
      .card--content
        flex-basis: 50%
        flex-shrink: 0
      .card--title
        margin-top: 0
        font-size: 24px
      .card--image
        aspect-ratio: initial
        margin: 0 -24px -30px -24px
        @media(min-width: 1240px)
          margin: -30px -24px -30px 0
          mask-image: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 15%)
          img
            position: absolute
            inset: 0

.content_directions
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='635' height='570' viewBox='0 0 635 570' fill='none'%3E%3Cg opacity='0.4'%3E%3Cpath d='M533.776 -430.126C508.321 -406.184 489.252 -383.758 468.457 -349.458C438.071 -295.177 421.167 -220.099 437.627 -159.891C450.413 -113.11 476.479 -74.2618 510.112 -40.0658C535.503 -14.2527 564.894 6.40914 595.387 25.7364C630.121 47.757 667.375 64.9061 704.728 81.9257C738.886 97.4918 773.092 112.962 807.019 129.007C832.523 141.065 856.1 156.386 879.231 172.432C909.874 193.687 937.995 217.574 960.692 247.325C1004.47 304.696 1020.04 369.14 1006.79 440.557C998.623 484.581 992.569 507.19 968.466 544.864C964.116 551.662 959.575 558.341 954.689 565.725C955.696 565.059 956.071 564.898 956.335 564.628C981.361 538.505 991.099 527.575 1007.41 495.244C1035.17 440.213 1045.4 382.681 1032.64 322.281C1020.85 266.457 992.406 219.803 952.175 180.198C914.051 142.663 870.632 112.076 822.48 88.6439C779.822 67.8791 736.486 48.4609 693.189 28.9928C648.4 8.85972 605.641 -14.7083 566.069 -43.6457C531.475 -68.9462 502.034 -99.0976 481.199 -136.966C458.098 -178.968 451.005 -223.74 459.059 -271.123C464.16 -301.169 482.412 -347.124 497.157 -373.769C508.23 -393.77 521.204 -412.526 535.077 -431.003C534.641 -430.715 534.153 -430.479 533.776 -430.126Z' fill='url(%23paint0_linear_508_18276)'/%3E%3Cpath d='M606.346 796.372C606.714 796.065 607.117 795.798 607.444 795.454C631.837 769.87 652.159 738.88 668.314 707.399C693.018 659.263 704.444 608.599 697.981 554.833C690.439 492.1 661.611 439.842 618.282 395.149C585.189 361.017 546.767 333.624 505.403 310.293C469.176 289.857 430.928 273.453 392.951 256.536C352.166 238.363 311.281 220.462 273.123 197.044C242.898 178.5 213.761 158.696 188.585 133.599C165.558 110.632 146.402 84.936 133.626 54.8329C112.46 4.9587 112.688 -45.7403 130.104 -96.9123C142.804 -134.215 163.251 -167.314 187.293 -198.405C188.191 -199.564 189.052 -200.754 190.498 -202.69C189.281 -202.074 188.997 -202.006 188.815 -201.83C160.884 -175.676 136.344 -146.846 118.741 -112.728C89.5801 -56.229 82.9235 2.184 102.973 62.519C118.36 108.843 146.408 146.8 181.585 179.926C210.014 206.686 242.493 227.91 276.012 247.619C313.741 269.803 353.994 286.978 394 304.594C445.591 327.306 496.521 351.085 542.56 384.079C576.2 408.191 607.043 434.919 630.578 469.234C662.594 515.916 676.866 567.572 672.056 624.365C667.623 676.703 649.392 727.263 621.886 771.72C616.792 779.958 611.309 787.96 606.006 796.064C606.12 796.164 606.232 796.273 606.346 796.372Z' fill='url(%23paint1_linear_508_18276)'/%3E%3Cpath d='M812.571 660.128C813.147 659.636 813.775 659.189 814.295 658.638C839.558 631.985 857.507 609.299 873.703 576.287C899.026 524.673 908.99 470.74 898.817 414.097C888.567 356.997 860.77 309.119 820.624 268.185C785.632 232.505 745.427 203.375 701.156 180.219C669.842 163.836 637.555 149.201 605.359 134.523C558.393 113.104 510.877 92.9077 467.124 65.1727C438.528 47.0377 411.203 27.4809 387.614 3.10556C365.751 -19.4867 347.734 -44.7368 335.72 -73.9297C315.38 -123.333 316.091 -173.446 333.38 -223.85C346.211 -261.247 370.412 -304.964 394.628 -336.083C395.128 -336.724 395.649 -337.347 396.116 -338.015C396.496 -338.56 396.812 -339.151 397.164 -339.726C366.409 -311.615 336.234 -269.785 318.226 -232.085C285.466 -163.529 286.602 -95.6009 320.835 -28.6702C337.268 3.46315 359.857 30.9964 386.432 55.2791C423.448 89.0956 465.465 115.834 510.261 138.021C546.513 155.977 583.717 172.078 620.665 188.642C669.481 210.537 716.568 235.302 759.326 267.614C796.366 295.604 828.206 328.071 849.784 369.691C872.724 413.955 880.377 460.947 873.794 510.448C867.408 558.507 848.838 602.168 823.261 643.195C818.421 650.954 817.231 652.171 812.207 659.821C812.331 659.922 812.448 660.027 812.571 660.128Z' fill='url(%23paint2_linear_508_18276)'/%3E%3Cpath d='M470.434 -388.249C443.043 -362.723 408.332 -316.969 390.739 -283.796C361.26 -228.215 353.477 -170.399 372.154 -110.244C386.172 -65.0897 412.443 -27.633 445.706 5.32162C474.139 33.4856 507.119 55.6019 541.295 76.0845C580.812 99.7715 623.148 117.872 665.242 136.42C716.331 158.932 766.818 182.431 812.446 215.07C842.989 236.916 871.444 260.773 894.128 290.882C936.146 346.665 951.662 409.239 939.859 478.523C931.253 529.061 916.546 562.915 887.849 605.181C886.942 606.52 886 607.844 885.089 609.178C884.184 610.508 883.291 611.846 882.399 613.184C883.255 613.142 883.688 612.824 884.057 612.445C907.788 587.561 921.626 571.937 937.611 541.465C961.997 494.987 974.023 445.889 969.3 393.563C963.646 331.011 936.747 278.143 894.626 232.81C856.85 192.152 812.243 159.926 762.759 134.976C720.536 113.692 677.298 94.3123 634.072 75.0361C586.27 53.7259 540.376 29.221 498.193 -1.66009C463.381 -27.1428 433.845 -57.5727 413.03 -95.7637C389.873 -138.263 383.148 -183.5 391.786 -231.23C397.986 -265.462 411.663 -296.909 430.044 -326.359C439.534 -341.568 460.665 -373.753 470.536 -388.301C470.908 -388.468 470.619 -388.419 470.434 -388.249Z' fill='url(%23paint3_linear_508_18276)'/%3E%3Cpath d='M326.658 -292.957C302.583 -270.151 276.892 -237.03 260.301 -208.241C226.681 -149.902 216.931 -88.7256 237.41 -24.335C252.431 22.9068 280.695 61.5315 316.327 95.1993C345.68 122.944 379.307 144.871 414.14 165.022C453.186 187.606 494.736 205.162 536.001 223.272C588.016 246.102 638.897 270.891 684.831 304.686C721.29 331.518 753.577 362.059 776.47 401.593C805.153 451.117 814.181 504.337 804.874 560.904C797.308 606.898 778.856 648.756 753.865 688.019C749.549 694.795 744.346 700.934 739.924 707.646C742.461 705.926 744.528 703.835 746.513 701.67C782.09 663.038 810.585 620.429 824.927 569.631C844.572 500.036 835.459 434.209 800.137 372.101C781.372 339.103 756.514 311.093 727.646 286.539C685.776 250.913 639.212 222.622 589.161 199.844C549.008 181.569 508.507 164.019 468.638 145.175C426.368 125.194 386.167 101.602 349.676 72.3026C319.979 48.4653 294.862 20.6344 276.829 -13.19C254.062 -55.9152 247.804 -101.224 256.837 -148.865C263.462 -183.855 277.938 -215.831 296.988 -245.827C305.582 -259.362 319.112 -280.657 328.512 -294.36C327.695 -293.748 327.127 -293.403 326.658 -292.957Z' fill='url(%23paint4_linear_508_18276)'/%3E%3Cpath d='M257.155 -247.014C230.315 -221.726 205.163 -190.297 187.828 -157.621C155.543 -96.7396 149.594 -34.0574 174.084 30.3087C190.054 72.2723 216.482 107.073 248.933 137.608C279.146 166.032 313.715 188.448 349.599 208.937C388.173 230.966 429.177 248.121 469.766 266.083C518.005 287.422 565.45 310.089 608.601 340.806C641.091 363.931 671.117 389.386 694.569 421.873C727.332 467.241 743.281 517.859 740.315 574.194C737.461 628.277 718.391 677.238 690.446 723.257C684.647 732.812 678.317 742.05 672.031 751.744C672.674 751.319 673.05 751.157 673.304 750.886C698.749 724.398 720.868 695.494 737.298 662.606C765.58 605.981 775.214 546.964 760.741 485.251C748.02 431.017 719.559 385.71 680.062 347.241C641.747 309.927 598.226 279.503 550.009 256.178C507.785 235.754 464.943 216.549 422.15 197.296C375.524 176.305 331.044 151.714 290.281 120.95C256.834 95.708 228.584 65.7149 208.824 28.3431C186.057 -14.7236 180.042 -60.3203 189.417 -108.188C195.913 -141.352 209.419 -171.866 227.32 -200.474C236.615 -215.332 248.299 -233.242 258.081 -247.644C258.02 -247.603 257.532 -247.368 257.155 -247.014Z' fill='url(%23paint5_linear_508_18276)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_508_18276' x1='432.145' y1='-285.811' x2='1194.15' y2='301.165' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_508_18276' x1='99.9695' y1='-65.9407' x2='862.028' y2='520.953' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint2_linear_508_18276' x1='299.266' y1='-197.816' x2='1061.45' y2='389.226' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint3_linear_508_18276' x1='365.674' y1='-241.821' x2='1127.71' y2='345.097' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint4_linear_508_18276' x1='232.746' y1='-153.891' x2='994.642' y2='432.899' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint5_linear_508_18276' x1='166.327' y1='-109.918' x2='927.576' y2='476.85' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23007FFF' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23007FFF' stop-opacity='0.43'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E")
  background-size: contain
  background-repeat: no-repeat
  background-position: right 8px top 0
  @media (min-width: 769px)
    background-position: right 10px top 0

  .card
    &--image
      aspect-ratio: 307/180
    &--content
      background: linear-gradient(117.25deg, rgba(255, 255, 255, 0.5) -16.87%, #FFFFFF 97.07%)
      margin-top: -16px
      padding: 32px 16px 26px
      z-index: -1
    &--title
      font-size: 20px
      font-weight: 500
    &:hover
      .card--content
        background: #FFFFFF
.content_partners
  .card
    aspect-ratio: 1/1
    background-color: var(--bg-content)
    padding: 20px
    img
      object-fit: contain
      filter: grayscale(100%)
      transition: var(--transition)
    &:hover
      img
        filter: grayscale(0)

.content_steps
  .card

    position: relative
    @for $i from 1 through 6
      &:nth-child(#{$i})
        &::after
          content: "#{if($i < 10, '0', '')}#{$i}"
          position: absolute
          top: 20px
          left: 20px
          z-index: 2
          font-size: var(--subtitle-xxs)
          color: var(--accent)
    &--content
      height: 100%
      background-color: var(--bg-content)
      padding: 90px 20px 20px
    &--title
      font-weight: 600
      font-size: 22px
    &--text
      font-size: clamp(16px, calc(18px + (16 - 18) * ((100vw - 768px) / (1440 - 768))), 18px)
    .button
      --button-bg-color: var(--accent)
      --button-border-color: var(--accent)
      --button-color: var(--text-secondary)
