.block_list
  overflow: hidden
  color: var(--text-primary)
  --col: 1
  @media(min-width: 640px)
    --col: 2
  @media(min-width: 768px)
    --col: 3
  @media(min-width: 1024px)
    --col: 4
  @media(min-width: 1441px)
    --col: 5
  .block--elements
    display: grid
    place-items: start
    grid-auto-rows: minmax(min-content, max-content)
    grid-template-columns: repeat(var(--col, 4), 1fr)
    gap: 14px
    overflow: initial
    @media(min-width: 998px)
      gap: 20px
  .block--wrapper
    display: flex
    flex-direction: column

.content_article,
.content_media,
.content_blog
  @media(min-width: 1024px)
    --col: 3
  @media(min-width: 1441px)
    --col: 4

.content_resorts
  @media(min-width: 769px)
    --col: 2
  @media(min-width: 1024px)
    --col: 3
  @media(min-width: 1441px)
    --col: 4
.content_services
  @media(min-width: 769px)
    --col: 2
  @media(min-width: 1024px)
    --col: 2
  @media(min-width: 1441px)
    --col: 3
.content_steps
  .block--elements
    gap: clamp(48px, calc(48px + (64 - 48) * ((100vw - 768px) / (1440 - 768))), 64px)
  @media(min-width: 769px)
    --col: 2
  @media(min-width: 1240px)
    --col: 3
