.block_banner
  overflow: hidden
  position: relative
  padding: 0
  margin: 0
  height: calc(100vh - var(--headerHeight))

  @media(min-width: 769px)
    min-height: 700px
  .block--wrapper
    height: 100%
    position: relative
    padding: 0 15px
    @media(min-width: 769px)
      padding: 0 16px
  &--labels
    z-index: 1
.block_banner.block_banner-hero
  height: 100vh
  .block--head_caption
    max-width: 565px
.banner
  display: flex
  flex-direction: column
  min-height: 500px
  border-radius: var(--border-corner)
  padding: var(--g-xl) 16px
  flex-shrink: 0
  flex-grow: 0
  height: 100%
  overflow: hidden
  position: relative
  @media(min-width: 769px)
    padding: var(--g-xl) var(--g-l)
  .block--head,
  .block--actions
    z-index: 3
    position: relative
  .block--head_caption
    color: currentColor
  .block--content
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    margin: 0
    width: 100%
    height: 100%
    overflow: hidden
    z-index: 1
    img, video
      width: 100%
      height: 100%
      object-position: center
      object-fit: cover
      z-index: 1
    //&:after
    //  content: ""
    //  width: 100%
    //  height: 100%
    //  pointer-events: none
    //  display: block
    //  position: absolute
    //  z-index: 2
    //  top: 0
    //  left: 0
    //  background: radial-gradient(61.52% 50.87% at 41.3% 58.43%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%)

.block_banner-group
  .slider_controls
    display: flex
    color: var(--text-primary)
    left: auto
    width: max-content
  .block--head
    margin: 0

.block_banner-hero
  max-height: 100svh
  margin-top: calc(var(--headerHeight)  * -1 - 4px)

.block_banner:not(.block_banner-no_media)
  color: #FFFFFF

.block_banner:not(.block_banner-hero)
  height: initial
  //min-height: initial
  padding: clamp(32px, calc(32px + (80 - 32) * ((100vw - 768px) / (1240 - 768))), 80px) var(--container)

  .banner
    height: max-content
    overflow: hidden
    border-radius: var(--border-corner)
    min-height: 340px
    padding: clamp(32px, calc(32px + (80 - 32) * ((100vw - 768px) / (1240 - 768))), 80px) var(--container)
    @media(min-width: 769px)
      min-height: 520px
  &.block_banner-group
    .slider_controls
      @media(max-width: 768px)
        display: none

.block_banner.block_banner-no_media
  color: var(--text-primary)
  .banner
    background-color: var(--bg-default)
    &:after
      content: ''
      position: absolute
      inset: 0
      mask-image: url('../img/pattern.svg'),linear-gradient(270deg, transparent 0%,rgba(0, 0, 0, 0.93) 38.16%, #000000 45.3%, #000000 54.61%,rgba(0, 0, 0, 0.93) 61.87%, transparent 100%)
      background: rgba(255, 255, 255, 0.5)
      @media(min-width: 769px)
        mask-image: url('../img/pattern.svg'),linear-gradient(90deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 90%)

    //z-index: -1
    &:before
      content: ''
      position: absolute
      inset: 0
      border-radius: var(--border-corner)
      box-shadow: 0px 2px 16px 3px rgba(15, 80, 132, 0.15) inset, 0px 2px 3px 0px rgba(15, 80, 132, 0.15) inset
  .block--content:after
    content: none
  .block--head
    text-align: center
    align-items: center
    margin: 0
    width: 100%
    position: relative

  &.-light-mode
    .banner
      background: #FFFFFF
      &:after
        background: #F5FBFF
      &:before
        content: none
  &.-dark-mode
    //--text-primary: #FFFFFF
    //--text-primary-subhead: #FFFFFF
    .banner
      background: var(--bg-color)
      &:before
        content: none
      &:after
        background: rgba(255, 255, 255, 0.05)

.block_banner-cascade
  height: initial
  min-height: initial
  .banner
    height: initial
    padding: var(--g-xl) var(--g-16)
    gap: 16px
    align-items: initial
    &:after
      position: absolute
      inset: 0
      background: linear-gradient(0deg, var(--alpha-grey-050, rgba(72, 72, 72, 0.5)), var(--alpha-grey-050, rgba(72, 72, 72, 0.5))), linear-gradient(270deg, rgba(0, 0, 0, 0) 40.28%, rgba(0, 0, 0, 0.342105) 50.41%, rgba(0, 0, 0, 0.5) 59.74%)
      background-blend-mode: multiply

    @media(min-width: 769px)
      padding: var(--g-xl)
    & > *:not(.block--content)
      max-width: 720px
  .block--head
    text-align: initial
    align-items: flex-start
    margin: initial
  .labels
    margin-bottom: 16px
  .is_cascade
    z-index: 2
