.content_advantages.advantages
  --card-shift: 0%
  .block--elements
    position: relative
    gap: 50vh
    display: flex
    flex-direction: column

  .item
    position: sticky
    width: 100%
    transform: translateY(var(--card-shift, 0))
    display: flex
    flex-direction: column
    background-color: var(--bg-content)
    border-radius: var(--border-corner)
    overflow: hidden
    top: 30vh
    height: 480px
    @media(min-width: 769px)
      display: grid
      grid-template-columns: repeat(2, 1fr)
      height: 272px
      @media(min-width: 1441px)
        height: 320px
    @for $i from 1 through 9
      &:nth-child(#{$i})
        .item--content::after
          content: "#{if($i < 10, '0', '')}#{$i}"
          z-index: 2
          font-size: 14px
          color: var(--accent)
          position: absolute
          left: 20px
          top:  20px
          line-height: 1.5
          @media(min-width: 769px)
            left: 30px
            top:  30px
    &--content
      display: flex
      flex-direction: column
      gap: 16px
      height: inherit
      padding: 20px 20px 20px 46px
      @media(min-width: 769px)
        padding: 30px 30px 30px 56px
    &--title
      font-weight: 500
      font-size: clamp(20px, calc(20px + (24 - 20) * ((100vw - 768px) / (1440 - 768))), 24px)
    &--text
      margin-top: auto
      color: rgba(18, 26, 34, 0.85)
      font-size: clamp(16px, calc(18px + (16 - 18) * ((100vw - 768px) / (1440 - 768))), 18px)
