.header
  position: sticky
  top: 0
  left: 0
  width: 100%
  max-width: 100vw
  z-index: 50
  transform: translateY(0)
  transition: 0.18s linear
  will-change: tranform
  @media(max-width: 1024px)
    transition: var(--transition)
  @media(max-width: 768px)
    display: flex
    flex-direction: column
    gap: 16px
  &--logo
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    grid-column: 2
    gap: 8px
    max-width: 148px
    color: var(--accent)
    aspect-ratio: 136/40
    @media(min-width: 769px)

      max-width: 136px
    @media(min-width: 1920px)
      max-width: 218px
  &.is_scrolled
    @media(min-width: 1140px)
      translate: 0 -45px
  &--top
    display: none
    @media(min-width: 1140px)
      margin: 0 28px
      height: 45px
      display: flex
      align-items: center
      justify-content: space-between
      &_nav
        display: flex
        gap: var(--g-l)
      a
        color: rgba(18, 26, 34, 0.6)
        &:hover
          color: var(--accent)
    &_actions
      &:hover
        opacity: 0.7
      img
        width: 2em
.header--main
  background-color: #FFFFFF
  border-radius: var(--border-corner)
  padding: 4px
  display: flex
  justify-content: space-between
  align-items: center
  gap: 16px
  transition: var(--transition)
  pointer-events: auto
  margin: 4px var(--container )  0
  @media(min-width: 769px)
    //display: grid
    //grid-template-columns: auto 1fr auto
    margin: 4px 20px 0
    padding: 8px

.header--nav
  flex-grow: 1
  max-width: 60vw
  .nav
    display: none
    @media(min-width: 769px)
      display: flex
      align-items: center
      justify-content: center
      gap: 26px
      font-size: 16px
      .nav--item
        & .button-link
          padding: 0
          font-weight: 500
          white-space: nowrap
        a:hover
          color: var(--accent)

.header--actions
  display: flex
  justify-content: flex-end
  @media(min-width: 769px)
    [data-openpopup]
      display: none
  @media(max-width: 768px)
    .button:not([data-openpopup])
      display: none
body
  @media(max-width: 768px)
    padding-top: 20px
