@font-face
  font-family: 'icomoon'
  src:  url('/assets/fonts/icomoon/fonts/icomoon.eot')
  src:  url('/assets/fonts/icomoon/fonts/icomoon.eot') format('embedded-opentype'), url('/assets/fonts/icomoon/fonts/icomoon.ttf') format('truetype'), url('/assets/fonts/icomoon/fonts/icomoon.woff') format('woff'),  url('/assets/fonts/icomoon/fonts/icomoon.svg') format('svg')
  font-weight: normal
  font-style: normal
  font-display: block

[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon' !important
  speak: never
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-rocket:before
  content: "\e900"

.icon-square-share-line:before
  content: "\e901"

.icon-sun-fog:before
  content: "\e902"

.icon-sun-fog-solid:before
  content: "\e903"

.icon-undo-right-round:before
  content: "\e904"

.icon-undo-right-round-square:before
  content: "\e905"

.icon-user:before
  content: "\e906"

.icon-users:before
  content: "\e907"

.icon-arrow-down:before
  content: "\e908"

.icon-arrow-down-1:before
  content: "\e909"

.icon-arrow-right:before
  content: "\e90a"

.icon-arrow-up:before
  content: "\e90b"

.icon-banknote-2:before
  content: "\e90c"

.icon-bill-chek:before
  content: "\e90d"

.icon-burger:before
  content: "\e90e"

.icon-card-transfer:before
  content: "\e90f"

.icon-chat-square-2:before
  content: "\e910"

.icon-check--circle:before
  content: "\e911"

.icon-clipboard-check:before
  content: "\e912"

.icon-close:before
  content: "\e913"

.icon-document:before
  content: "\e914"

.icon-document-add:before
  content: "\e915"

.icon-download:before
  content: "\e916"

.icon-download-square:before
  content: "\e917"

.icon-expand-down-stop:before
  content: "\e918"

.icon-eye-closed:before
  content: "\e919"

.icon-eye-opened:before
  content: "\e91a"

.icon-eye-opened-line:before
  content: "\e91b"

.icon-eyes-closed-line:before
  content: "\e91c"

.icon-letter-unread:before
  content: "\e91d"

.icon-like:before
  content: "\e91e"

.icon-location:before
  content: "\e91f"

.icon-medal-ribbon-star:before
  content: "\e920"

.icon-minus:before
  content: "\e921"

.icon-plus:before
  content: "\e922"

.icon-remove-circle:before
  content: "\e923"

.icon-remove-circle-1:before
  content: "\e924"
