.is_cascade
  --m-head-top: clamp(24px, calc(24px + (32 - 24) * ((100vw - 375px) / (1440 - 375))), 32px)
  --m-bottom: clamp(8px, calc(8px + (12 - 8) * ((100vw - 375px) / (1440 - 375))), 12px)
  --m-text-top: clamp(8px, calc(8px + (12 - 8) * ((100vw - 375px) / (1440 - 375))), 12px)
  & > *
    margin: var(--m-text-top) 0 var(--m-bottom)

    &:first-child
      margin-top: 0

    &:last-child
      margin-bottom: 0

  h1, h2, h3, h4, h5, h6
    margin: var(--m-head-top) 0 var(--m-bottom)
    font-weight: 500
    text-transform: uppercase

  h1
    font-size: var(--heading-1)
  h2
    font-size: var(--heading-2)
  h3
    font-size: var(--heading-3)

  h4
    font-size: var(--heading-4)
  h5
    font-size: var(--heading-5)
  h6
    font-size: var(--heading-6)
  p, li
    font-size: var(--body-l)
    line-height: 1.4
  table
    font-size: var(--caption-m)
    line-height: 1.2

  p > a:not([class])
    text-decoration: underline

    &:hover,
    &:focus
      color: var(--accent-2)

  img
    height: auto

  strong
    font-size: var(--body-2)
    font-weight: 600
    line-height: 1.5

  ul, ol
    margin: 0 0 var(--m-bottom)
    padding-left: 24px
    display: flex
    flex-direction: column
    gap: 4px

    li
      line-height: 1.5

  figure
    figcaption
      margin-top: 12px
      color: #64788F

  hr
    border-color: currentColor
    opacity: 0.12

  .is_cascade--accordion
    margin: var(--m-text-top) 0 var(--m-bottom)
    .accordion
      padding: clamp(16px, calc(16px + (20 - 16) * ((100vw - 768px) / (1440 - 768))), 20px)
    .accordion--button_text
      font-size: var(--heading-6)
  .is_cascade--accordion.-bck
    padding: 0
    background: none
  .button_wrapper, .block--actions
    display: flex
    align-items: center
    gap: 8px
    margin: 8px 0 12px

  .is_cascade--table
    width: 100%
    margin: var(--m-text-top) 0 var(--m-bottom)
    overflow: auto

    table
      width: 100%
      border-collapse: collapse

    thead
      background-color: #F5FBFF
      //color: #fff
      th
        outline-color: #D9EFFB

    td,
    th
      text-align: center
      padding: 16px 24px
      outline: 1px solid #D9EFFB

    .table-subhead
      background-color: #F2F9FA
      text-align: center

    tbody
      td:first-child:not(.table-subhead)
        text-align: left

.accommodation--info
  margin: var(--m-text-top) 0 var(--m-bottom)
  display: flex
  align-items: center
  line-height: 1
  flex-wrap: wrap
  gap: 6px
  &_item
    display: flex
    gap: 4px
    padding: 6px 12px
    border-radius: 8px
    border: 1px solid  var(--shadow-light)
    @media(max-width: 575px)
      font-size: 12px
  span[class^="icon-"]
    color: rgba(15, 80, 132, 0.5)
.is_cascade:has(.gallery)
  overflow: hidden
  .gallery
    margin: var(--m-head-top) 0 var(--m-bottom)
    aspect-ratio: 800/533
    border-radius: var(--border-corner)
    overflow: hidden
    .slider_controls
      bottom: 16px
      right: 16px
      gap: 8px
      .swiper--next,
      .swiper--prev
        width: 44px
        height: 44px
        font-size: 1.4em
        &:before
          content: none

// Video
.is_cascade
  &--video
    overflow: hidden
    margin: var(--margin-m) 0

.video
  width: 100%
  height: auto
  position: relative

  video
    width: 100%
    height: 100%
    object-position: center
    object-fit: cover

.blockquote
  margin: 16px 0
  border-left:  6px solid  rgba(74, 181, 234, 1)
  padding-left: var(--g-m)
  display: flex
  flex-direction: column
  gap: 16px
  &--decor
    &:after
      content: ""
      display: flex
      width: 40px
      aspect-ratio: 40/24
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='24' viewBox='0 0 40 24' fill='none'%3E%3Cpath d='M40 14.9304C40.0002 19.4652 36.6402 24 30.9515 24C25.2628 24 21.7952 19.0409 21.7952 13.8166C21.7952 8.59227 24.9921 4.98563 27.2947 3.1558C29.5974 1.32597 31.1584 0.856059 34.2024 0C31.7646 2.2011 30.3288 3.89834 29.6516 6.65635C35.3947 5.78122 39.9998 10.3956 40 14.9304Z' fill='%23A3DCF7'/%3E%3Cpath d='M18.2048 14.9304C18.2049 19.4652 14.845 24 9.15627 24C3.46753 24 0 19.0409 0 13.8166C0 8.59227 3.19684 4.98563 5.4995 3.1558C7.80216 1.32597 9.36316 0.856059 12.4071 0C9.96937 2.2011 8.5336 3.89834 7.85634 6.65635C13.5994 5.78122 18.2046 10.3956 18.2048 14.9304Z' fill='%23A3DCF7'/%3E%3C/svg%3E")
  &--author
    display: grid
    grid-template-columns: 48px auto
    gap: 8px

    &_img
      aspect-ratio: 1/1
      border-radius: 100px
      overflow: hidden
      img
        object-fit: cover
        width: 100%
        height: 100%
    p
      font-size: var(--subtitle-s)
      font-weight: 500
    span
      font-size: var(--caption-xs)
      color: #64788F
  &--text
    display: flex
    flex-direction: column
    gap: 8px
    p
      font-family: 'LTRemark'
      text-transform: uppercase
      font-size: var(--heading-6)
    span
      font-size: var(--body-m)

